/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ====== UTILITIES ====== */

.container {
  margin-left: 12.1875rem;
  margin-right: 12.1875rem;
}

nav {
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 14px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ====== NAVBAR ====== */
#header .container {
  margin-right: 9.8125rem;
}
/* Title */
#header .title {
  width: 32.875rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

#header h1 {
  font: bold 4.5rem 'Ubuntu';
  color: #0c58d3;
  text-align: center;
}

#header .title span {
  font-style: italic;
  font-weight: normal;
}

#header .vector {
  width: 16.75rem;
  border: 1px solid #226ed8;
  transform: translate(50%);
}

/* Logo */
#header .logo {
  width: 2.875rem;
  height: 5rem;
}

/* Menu */
#header nav .menu {
  opacity: 0;
  visibility: hidden;
}

#header nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: #ffffff;
  width: 32.125rem;
  height: 22.5rem;
  border-radius: 1rem;
  z-index: 2;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#header nav.show .overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#header nav ul li {
  text-align: center;
  font: bold 2.5rem 'Ubuntu';
  color: #ff0000;
}

#header .config {
  width: 2.1875rem;
  height: 2.1875rem;
  cursor: pointer;
}

/* ====== MAIN ====== */
.main .add-task {
  width: 28.0625rem;
  height: 2.8125rem;
  margin-top: 6px;

  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main .form input[type='text'] {
  border: 0;
  width: 26.5rem;
  height: 2rem;
  margin-top: 0.4375rem;
  margin-left: 1rem;
  font: normal 1rem 'Ubuntu';
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font: italic 1rem 'Ubuntu';
}

.form input:focus {
  outline: none;
}

.main .cards {
  display: flex;
  justify-content: space-evenly;
}

.main .cards .card {
  width: 18.75rem;
  height: 21.875rem;
  margin-top: 6.8125rem;
  border-radius: 9px;
}

.main h2 {
  position: relative;
  text-align: center;
  font: normal 2.25rem 'Roboto';
  color: rgba(20, 20, 20, 1);
  margin-top: 18px;
}

.main h2::after {
  content: '';
  width: 250px;
  border: 1px solid #d9d9d9;
  position: absolute;

  bottom: 0;
  left: 0;
  margin-left: 23px;
  margin-bottom: -10px;
}
