/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ====== UTILITIES ====== */
.container {
  margin-left: 12.1875rem;
  margin-right: 12.1875rem;
}

nav {
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 14px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  position: relative;
  text-align: center;
  font: normal 2.25rem 'Roboto';
  color: rgba(20, 20, 20, 1);
  margin-top: 18px;
}

h3 {
  font: normal 1.5rem 'Roboto';
}

.form input[type='text'],
input[type='url'] {
  border: 0;
  font: normal 1rem 'Ubuntu';
  color: rgba(58, 58, 58, 1);
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font: italic 1rem 'Ubuntu';
}

.form input:focus {
  outline: none;
}

.btn {
  width: 105px;
  height: 34px;
  display: inline-block;
  cursor: pointer;
  background: #3071d9;
  color: #fff;
  border: 1px #3071d9 solid;
  border-radius: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  margin-top: 70px;
  margin-bottom: 12px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3f7edc;
  border: 2px solid #f8f8f8;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

/* ====== NAVBAR ====== */
#header .container {
  margin-right: 9.8125rem;
}
/* Title */
#header .title {
  width: 32.875rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

#header h1 {
  font: bold 4.5rem 'Ubuntu';
  color: #0c58d3;
  text-align: center;
}

#header .title span {
  font-style: italic;
  font-weight: normal;
}

#header .vector {
  width: 16.75rem;
  border: 1px solid #226ed8;
  transform: translate(50%);
}

/* Logo */
#header .logo {
  width: 2.875rem;
  height: 5rem;
}

/* Gear */
#header .config {
  width: 2.1875rem;
  height: 2.1875rem;
  cursor: pointer;
}

.config:hover {
  transform: scale(0.95);
}

/* === MENU === */
#header nav .menu {
  opacity: 0;
  visibility: hidden;
}

#header nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: #ffffff;
  width: 32.125rem;
  height: 22.5rem;
  border-radius: 1rem;
  z-index: 2;

  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#header nav.show .overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#header h2 {
  color: rgba(0, 0, 0, 1);
}

#header .menu .dark-mode {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  align-items: center;
}

#header .menu .background {
  margin-top: 20px;
}

#header .menu .functions {
  margin-top: 59px;
  margin-left: 24px;
}

#header .menu h2::after {
  content: '';
  width: 464px;
  border: 2px solid rgba(182, 182, 182, 1);
  position: absolute;

  bottom: 0;
  left: 0;
  margin-left: 24px;
  margin-bottom: -16px;
}

/* Form */
#header .form {
  position: relative;
  width: 467px;
  height: 43px;
  background: #fbfbfb;
  margin-top: 14px;
  border-radius: 10px 10px 0 0;
}

#header .form input[type='url'] {
  border: 0;
  width: 28.5rem;
  height: 2rem;
  margin-top: 0.4375rem;
  margin-left: 0.2rem;
  background: #fbfbfb;
}

#header .form::after {
  content: '';
  width: 465px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  position: absolute;

  bottom: 0;
  left: 0;
}

/* Buttons */
#header .buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  margin-top: 14px;
}

#header .btn-outline {
  background-color: #fff;
  color: rgba(48, 113, 217, 1);

  text-align: center;
  vertical-align: middle;

  line-height: 100px;
  font: normal 1.375rem 'Ubuntu';
}

#header .btn-primary {
  font: normal 1.375rem 'Ubuntu';
}

/* Dark Mode Switch */
.check {
  position: relative;
  display: block;
  width: 80px;
  height: 34px;
  background: #e1e1e1;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

input[type='checkbox']:checked ~ .check {
  background: rgb(0, 0, 0);
}

.check:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 4px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type='checkbox']:checked ~ .check:before {
  transform: translateX(43px);
  background: #3071d9;
}

/* ====== MAIN ====== */

/* Input */
.main .add-task {
  width: 28.0625rem;
  height: 2.8125rem;
  margin-top: 6px;

  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.main .add-task .add-icon {
  margin-left: 25px;
  margin-top: 2px;
  cursor: pointer;
}

.add-icon:hover {
  transform: scale(0.97);
}

.main .form input[type='text'] {
  border: 0;
  width: 26.5rem;
  height: 2rem;
  margin-top: 0.4375rem;
  margin-left: 1rem;
}

/* Cards */
.main .cards {
  display: flex;
  justify-content: space-evenly;
}

.main .cards .card {
  width: 18.75rem;
  height: 21.875rem;
  margin-top: 6.8125rem;
  border-radius: 9px;
  overflow: auto;
}

.main h2::after {
  content: '';
  width: 15.625rem;
  border: 1px solid #d9d9d9;
  position: absolute;

  bottom: 0;
  left: 0;
  margin-left: 23px;
  margin-bottom: -10px;
}

/* Tasks list */
.main ul {
  margin-top: 38px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}

.main ul::after {
  content: '';
  width: 15.625rem;
  border: 0.5px solid #ffffff;
  position: absolute;

  top: -10px;
  left: -2px;
}

.main ul li {
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font: normal 0.875rem 'Roboto';
  transition: 0.4s linear;
  position: relative;

  word-wrap: break-word;
  text-align: justify;
}

.main ul li::after {
  content: '';
  width: 15.625rem;
  border: 0.5px solid #f1f0f0;
  position: absolute;

  top: -10px;
  left: -2px;
}

.main ul li img {
  float: right;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 14px;
}

.main .done li {
  font-style: italic;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

/* ====== DARK MODE ====== */
html .dark {
  background: #232323;
}

.dark .card {
  background-color: #484e54;
  border: 0;
}

.dark .main ul::after {
  border: 0.5px solid #484e54;
}

.dark .main ul li::after {
  border: 0.5px solid #393939;
}

.dark .main ul li {
  color: #fff;
}

.dark .main h2 {
  color: #ececec;
}

.dark .main .done li {
  color: rgba(255, 255, 255, 0.6);
}

.dark .main .form input[type='text'] {
  background-color: #484e54;
  color: #ececec;
}

.dark .form input[type='text'],
input[type='url'] {
  color: #fff;
}

.dark .form input::placeholder {
  color: rgba(236, 236, 236, 1);
}

.dark div::-webkit-scrollbar-track {
  background-color: #484e54;
  margin-top: 70px;
  margin-bottom: 12px;
}

.dark div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3f7edc;
  border: 2px solid #484e54;
}

.dark #header h2 {
  color: #fff;
}

.dark #header nav.show .menu {
  background: #484e54;
}

.dark h3 {
  color: #fff;
}

.dark #header .form {
  background: #232323;
}

.dark #header .form input[type='url'] {
  background: #232323;
}

.dark #header .btn-outline {
  background-color: #484e54;
  color: #fff;
}

.dark #header nav.show .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
